content/en/docs/api/ticket_api/wsdl.xml

<?xml version='1.0' encoding='UTF-8'?>
<?xml-stylesheet type="text/xsl" href="https://docs.navipartner.com/entertainment/ticket/files/wsdl-viewer.xsl"?>
<definitions targetNamespace="urn:microsoft-dynamics-schemas/codeunit/ticket_services" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/ticket_services">
	<types>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x6060116" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x6060116">
			<complexType name="ticket_tokens">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ticket_token" type="string"/>
				</sequence>
			</complexType>
			<complexType name="ticketsType">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="status" type="string"/>
				</sequence>
			</complexType>
			<complexType name="ticket_tokens_result" mixed="true">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="tickets" type="tns:ticketsType"/>
				</sequence>
			</complexType>
			<complexType name="tickets" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ticket_tokens" type="tns:ticket_tokens"/>
					<element minOccurs="0" maxOccurs="1" name="ticket_tokens_result" type="tns:ticket_tokens_result"/>
				</sequence>
			</complexType>
			<element name="tickets" type="tns:tickets"/>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x6060117" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x6060117">
			<complexType name="ticket_tokens">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ticket_token" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="send_notification_to" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="external_order_no" type="string"/>
				</sequence>
			</complexType>
			<complexType name="reservation">
				<sequence/>
				<attribute name="external_id" type="string" use="required"/>
				<attribute name="start" type="string" use="required"/>
				<attribute name="finish" type="string" use="required"/>
			</complexType>
			<complexType name="admission">
				<sequence>
					<element minOccurs="0" maxOccurs="1" name="description" type="string"/>
					<element minOccurs="0" maxOccurs="1" default="0" name="quantity" type="decimal"/>
					<element minOccurs="0" maxOccurs="1" name="reservation" type="tns:reservation"/>
				</sequence>
				<attribute name="code" type="string" use="required"/>
			</complexType>
			<complexType name="ticket">
				<sequence>
					<element minOccurs="0" maxOccurs="1" name="ticket_uid" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="barcode_no" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="valid_from" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="valid_until" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="available_as_eticket" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="pin_code" type="string"/>
					<element minOccurs="0" maxOccurs="unbounded" name="admission" type="tns:admission"/>
				</sequence>
				<attribute name="external_id" type="string" use="required"/>
				<attribute name="line_no" type="string" use="required"/>
			</complexType>
			<complexType name="ticketsType">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="status" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="order_uid" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="message_text" type="string"/>
					<element minOccurs="0" maxOccurs="unbounded" name="ticket" type="tns:ticket"/>
				</sequence>
			</complexType>
			<complexType name="ticket_results" mixed="true">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="tickets" type="tns:ticketsType"/>
				</sequence>
			</complexType>
			<complexType name="tickets" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ticket_tokens" type="tns:ticket_tokens"/>
					<element minOccurs="0" maxOccurs="1" name="ticket_results" type="tns:ticket_results"/>
				</sequence>
			</complexType>
			<element name="tickets" type="tns:tickets"/>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x6060108" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x6060108">
			<complexType name="Admission">
				<sequence/>
				<attribute name="Code" type="string" use="required"/>
				<attribute name="OldScheduleEntryNo" type="string" use="required"/>
				<attribute name="NewScheduleEntryNo" type="string" use="required"/>
			</complexType>
			<complexType name="Admissions" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="Admission" type="tns:Admission"/>
				</sequence>
			</complexType>
			<complexType name="Request" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ChangeRequestToken" type="string"/>
					<element minOccurs="1" maxOccurs="unbounded" name="Admissions" type="tns:Admissions"/>
				</sequence>
			</complexType>
			<complexType name="reservation">
				<sequence/>
				<attribute name="external_id" type="string" use="optional"/>
				<attribute name="start" type="string" use="optional"/>
				<attribute name="finish" type="string" use="optional"/>
			</complexType>
			<complexType name="admission">
				<sequence>
					<element minOccurs="0" maxOccurs="1" name="description" type="string"/>
					<element minOccurs="0" maxOccurs="1" default="0" name="quantity" type="decimal"/>
					<element minOccurs="0" maxOccurs="1" name="reservation" type="tns:reservation"/>
				</sequence>
				<attribute name="code" type="string" use="required"/>
			</complexType>
			<complexType name="Ticket">
				<sequence>
					<element minOccurs="0" maxOccurs="1" name="line_no" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="ticket_uid" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="barcode_no" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="valid_from" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="valid_until" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="available_as_eticket" type="string"/>
					<element minOccurs="1" maxOccurs="unbounded" name="pin_code" type="string"/>
					<element minOccurs="1" maxOccurs="unbounded" name="admission" type="tns:admission"/>
				</sequence>
				<attribute name="external_id" type="string" use="required"/>
			</complexType>
			<complexType name="TicketsType">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="Ticket" type="tns:Ticket"/>
				</sequence>
				<attribute name="OrderId" type="string" use="required"/>
			</complexType>
			<complexType name="Result" mixed="true">
				<sequence>
					<element minOccurs="0" maxOccurs="1" name="ResponseCode" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="ResponseMessage" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="Tickets" type="tns:TicketsType"/>
				</sequence>
			</complexType>
			<complexType name="ConfirmChangeReservation" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="Request" type="tns:Request"/>
					<element minOccurs="0" maxOccurs="1" name="Result" type="tns:Result"/>
				</sequence>
			</complexType>
			<complexType name="Tickets" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ConfirmChangeReservation" type="tns:ConfirmChangeReservation"/>
				</sequence>
			</complexType>
			<element name="Tickets" type="tns:Tickets"/>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x6060113" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x6060113">
			<complexType name="admission_schedule_entry">
				<sequence/>
				<attribute name="admission_code" type="string" use="optional"/>
				<attribute name="external_entry_no" type="string" use="optional"/>
				<attribute name="reference_date" type="string" use="optional"/>
				<attribute name="external_item_number" type="string" use="optional"/>
			</complexType>
			<complexType name="request" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="admission_schedule_entry" type="tns:admission_schedule_entry"/>
				</sequence>
			</complexType>
			<complexType name="admission_schedule_entryType">
				<sequence/>
				<attribute name="admission_code" type="string" use="required"/>
				<attribute name="schedule_code" type="string" use="required"/>
				<attribute name="external_entry_no" type="string" use="required"/>
				<attribute name="start_date" type="string" use="required"/>
				<attribute name="start_time" type="string" use="required"/>
				<attribute name="end_date" type="string" use="required"/>
				<attribute name="end_time" type="string" use="required"/>
				<attribute name="status" type="string" use="required"/>
				<attribute name="allocation_by" type="string" use="required"/>
				<attribute name="remaining" type="string" use="required"/>
				<attribute name="message" type="string" use="required"/>
				<attribute name="price_option" type="string" use="required"/>
				<attribute name="price_amount" type="string" use="required"/>
				<attribute name="price_percentage" type="string" use="required"/>
				<attribute name="includes_vat" type="string" use="required"/>
				<attribute name="event_arrival_from_time" type="string" use="required"/>
				<attribute name="event_arrival_until_time" type="string" use="required"/>
				<attribute name="sales_from_date" type="string" use="required"/>
				<attribute name="sales_from_time" type="string" use="required"/>
				<attribute name="sales_until_date" type="string" use="required"/>
				<attribute name="sales_until_time" type="string" use="required"/>
				<attribute name="admission_price" type="string" use="required"/>
			</complexType>
			<complexType name="reponse" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="admission_schedule_entry" type="tns:admission_schedule_entryType"/>
				</sequence>
			</complexType>
			<complexType name="admission_capacity" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="request" type="tns:request"/>
					<element minOccurs="0" maxOccurs="1" name="reponse" type="tns:reponse"/>
				</sequence>
			</complexType>
			<element name="admission_capacity" type="tns:admission_capacity"/>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x6060106" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x6060106">
			<complexType name="admission_schedule_entry">
				<sequence/>
				<attribute name="admission_code" type="string" use="optional"/>
				<attribute name="from_date" type="string" use="optional"/>
				<attribute name="until_date" type="string" use="optional"/>
			</complexType>
			<complexType name="request" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="admission_schedule_entry" type="tns:admission_schedule_entry"/>
				</sequence>
			</complexType>
			<complexType name="admission_schedule_entryType">
				<sequence/>
				<attribute name="admission_code" type="string" use="required"/>
				<attribute name="schedule_code" type="string" use="required"/>
				<attribute name="external_entry_no" type="string" use="required"/>
				<attribute name="visible_on_web" type="string" use="required"/>
				<attribute name="start_date" type="string" use="required"/>
				<attribute name="start_time" type="string" use="required"/>
				<attribute name="end_date" type="string" use="required"/>
				<attribute name="end_time" type="string" use="required"/>
				<attribute name="allocation_by" type="string" use="required"/>
				<attribute name="event_arrival_from_time" type="string" use="required"/>
				<attribute name="event_arrival_until_time" type="string" use="required"/>
				<attribute name="sales_from_date" type="string" use="required"/>
				<attribute name="sales_from_time" type="string" use="required"/>
				<attribute name="sales_until_date" type="string" use="required"/>
				<attribute name="sales_until_time" type="string" use="required"/>
			</complexType>
			<complexType name="response" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="admission_schedule_entry" type="tns:admission_schedule_entryType"/>
				</sequence>
			</complexType>
			<complexType name="admission_schedule" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="request" type="tns:request"/>
					<element minOccurs="0" maxOccurs="1" name="response" type="tns:response"/>
				</sequence>
			</complexType>
			<element name="admission_schedule" type="tns:admission_schedule"/>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x6060107" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x6060107">
			<complexType name="Request">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="TicketNumber" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="PinCode" type="string"/>
				</sequence>
			</complexType>
			<complexType name="ExpiresAt" mixed="true">
				<sequence/>
				<attribute name="UTC" type="string" use="required"/>
			</complexType>
			<complexType name="admission_is" mixed="true">
				<sequence/>
				<attribute name="option_value" type="string" use="required"/>
			</complexType>
			<complexType name="ScheduleEntry" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="admission_is" type="tns:admission_is"/>
				</sequence>
				<attribute name="ExternalEntryNo" type="string" use="required"/>
				<attribute name="ReservationType" type="string" use="required"/>
				<attribute name="Date" type="string" use="optional"/>
				<attribute name="StartTime" type="string" use="optional"/>
				<attribute name="EndTime" type="string" use="optional"/>
				<attribute name="ValidFrom" type="string" use="optional"/>
				<attribute name="ValidUntil" type="string" use="optional"/>
				<attribute name="CanReschedule" type="string" use="required"/>
				<attribute name="admission_price" type="string" use="required"/>
			</complexType>
			<complexType name="Admission">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="ScheduleEntry" type="tns:ScheduleEntry"/>
					<element minOccurs="1" maxOccurs="1" name="Description" type="string"/>
				</sequence>
				<attribute name="Code" type="string" use="required"/>
			</complexType>
			<complexType name="Admissions" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="Admission" type="tns:Admission"/>
				</sequence>
			</complexType>
			<complexType name="Ticket" mixed="true">
				<sequence>
					<element minOccurs="0" maxOccurs="1" name="Admissions" type="tns:Admissions"/>
				</sequence>
				<attribute name="ChangeRequestToken" type="string" use="required"/>
			</complexType>
			<complexType name="Result">
				<sequence>
					<element minOccurs="0" maxOccurs="1" name="ResponseCode" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="ResponseMessage" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="ExpiresAt" type="tns:ExpiresAt"/>
					<element minOccurs="0" maxOccurs="1" name="Ticket" type="tns:Ticket"/>
				</sequence>
			</complexType>
			<complexType name="ChangeReservation" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="Request" type="tns:Request"/>
					<element minOccurs="0" maxOccurs="1" name="Result" type="tns:Result"/>
				</sequence>
			</complexType>
			<complexType name="Tickets" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ChangeReservation" type="tns:ChangeReservation"/>
				</sequence>
			</complexType>
			<element name="Tickets" type="tns:Tickets"/>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x6060122" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x6060122">
			<complexType name="ticket">
				<sequence/>
				<attribute name="ticket_number" type="string" use="required"/>
			</complexType>
			<complexType name="print_request" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="ticket" type="tns:ticket"/>
				</sequence>
			</complexType>
			<complexType name="print_response">
				<sequence/>
				<attribute name="ticket_number" type="string" use="required"/>
				<attribute name="ticket_url" type="string" use="required"/>
			</complexType>
			<complexType name="tickets" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="print_request" type="tns:print_request"/>
					<element minOccurs="0" maxOccurs="unbounded" name="print_response" type="tns:print_response"/>
				</sequence>
			</complexType>
			<element name="tickets" type="tns:tickets"/>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x6060112" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x6060112">
			<complexType name="item_number" mixed="true">
				<sequence/>
				<attribute name="variant_code" type="string" use="required"/>
			</complexType>
			<complexType name="recommended_price" mixed="true">
				<sequence/>
				<attribute name="currency_code" type="string" use="required"/>
				<attribute name="includes_vat" type="string" use="required"/>
			</complexType>
			<complexType name="type" mixed="true">
				<sequence/>
				<attribute name="option_value" type="string" use="required"/>
			</complexType>
			<complexType name="admission_is" mixed="true">
				<sequence/>
				<attribute name="option_value" type="string" use="required"/>
				<attribute name="recommended_price" type="string" use="required"/>
			</complexType>
			<complexType name="capacity_control" mixed="true">
				<sequence/>
				<attribute name="option_value" type="string" use="required"/>
			</complexType>
			<complexType name="default_schedule_selection" mixed="true">
				<sequence/>
				<attribute name="option_value" type="string" use="required"/>
			</complexType>
			<complexType name="ticket_schedule_selection" mixed="true">
				<sequence/>
				<attribute name="option_value" type="string" use="required"/>
			</complexType>
			<complexType name="admission">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="type" type="tns:type"/>
					<element minOccurs="1" maxOccurs="unbounded" name="admission_is" type="tns:admission_is"/>
					<element minOccurs="1" maxOccurs="1" name="description" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="description2" type="string"/>
					<element minOccurs="1" maxOccurs="unbounded" name="max_capacity" type="string"/>
					<element minOccurs="1" maxOccurs="unbounded" name="capacity_control" type="tns:capacity_control"/>
					<element minOccurs="1" maxOccurs="unbounded" name="default_schedule_selection" type="tns:default_schedule_selection"/>
					<element minOccurs="1" maxOccurs="unbounded" name="ticket_schedule_selection" type="tns:ticket_schedule_selection"/>
				</sequence>
				<attribute name="code" type="string" use="required"/>
				<attribute name="default" type="string" use="required"/>
			</complexType>
			<complexType name="bill-of-material" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="admission" type="tns:admission"/>
				</sequence>
			</complexType>
			<complexType name="item">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="item_number" type="tns:item_number"/>
					<element minOccurs="1" maxOccurs="unbounded" name="description" type="string"/>
					<element minOccurs="1" maxOccurs="unbounded" name="variant_description" type="string"/>
					<element minOccurs="1" maxOccurs="unbounded" name="recommended_price" type="tns:recommended_price"/>
					<element minOccurs="1" maxOccurs="unbounded" name="bill-of-material" type="tns:bill-of-material"/>
				</sequence>
				<attribute name="external_item_number" type="string" use="required"/>
			</complexType>
			<complexType name="items" mixed="true">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:item"/>
				</sequence>
			</complexType>
			<complexType name="response" mixed="true">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="items" type="tns:items"/>
				</sequence>
			</complexType>
			<complexType name="ticket_items" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="response" type="tns:response"/>
				</sequence>
			</complexType>
			<element name="ticket_items" type="tns:ticket_items"/>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x6060120" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x6060120">
			<complexType name="ticket" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="filter" type="string"/>
				</sequence>
				<attribute name="filter_type" type="string" use="required"/>
				<attribute name="full_history" type="string" use="required"/>
			</complexType>
			<complexType name="ticket_request">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ticket" type="tns:ticket"/>
				</sequence>
			</complexType>
			<complexType name="reservation">
				<sequence/>
				<attribute name="external_id" type="string" use="required"/>
				<attribute name="start" type="string" use="required"/>
				<attribute name="finish" type="string" use="required"/>
			</complexType>
			<complexType name="arrival">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="arrival_time" type="string"/>
				</sequence>
			</complexType>
			<complexType name="admission">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="description" type="string"/>
					<element minOccurs="1" maxOccurs="1" default="0" name="quantity" type="decimal"/>
					<element minOccurs="0" maxOccurs="1" name="reservation" type="tns:reservation"/>
					<element minOccurs="0" maxOccurs="1" name="arrival" type="tns:arrival"/>
				</sequence>
				<attribute name="code" type="string" use="required"/>
			</complexType>
			<complexType name="ticketType">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ticket_uid" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="barcode_no" type="string"/>
					<element minOccurs="1" maxOccurs="unbounded" name="token" type="string"/>
					<element minOccurs="1" maxOccurs="unbounded" name="valid_from" type="string"/>
					<element minOccurs="1" maxOccurs="unbounded" name="valid_until" type="string"/>
					<element minOccurs="1" maxOccurs="unbounded" name="pin_code" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="item_number" type="string"/>
					<element minOccurs="1" maxOccurs="1" default="false" name="blocked" type="boolean"/>
					<element minOccurs="1" maxOccurs="unbounded" name="admission" type="tns:admission"/>
				</sequence>
			</complexType>
			<complexType name="tickets">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="status" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="order_uid" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="message_text" type="string"/>
					<element minOccurs="0" maxOccurs="unbounded" name="ticket" type="tns:ticketType"/>
				</sequence>
			</complexType>
			<complexType name="ticket_results" mixed="true">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="tickets" type="tns:tickets"/>
				</sequence>
			</complexType>
			<complexType name="ticketdetails" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ticket_request" type="tns:ticket_request"/>
					<element minOccurs="0" maxOccurs="1" name="ticket_results" type="tns:ticket_results"/>
				</sequence>
			</complexType>
			<element name="ticketdetails" type="tns:ticketdetails"/>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x6060118" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x6060118">
			<complexType name="ticket">
				<sequence/>
				<attribute name="external_id" type="string" use="required"/>
				<attribute name="line_no" type="string" use="required"/>
				<attribute name="qty" type="string" use="required"/>
				<attribute name="admission_code" type="string" use="optional"/>
				<attribute name="admission_schedule_entry" type="string" use="optional"/>
				<attribute name="member_number" type="string" use="optional"/>
			</complexType>
			<complexType name="reserve_tickets" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="ticket" type="tns:ticket"/>
				</sequence>
			</complexType>
			<complexType name="admissions_validated">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="description" type="string"/>
					<element minOccurs="1" maxOccurs="1" default="0" name="quantity" type="decimal"/>
				</sequence>
				<attribute name="code" type="string" use="required"/>
			</complexType>
			<complexType name="ticketType">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ticket_uid" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="barcode_no" type="string"/>
					<element minOccurs="1" maxOccurs="1" default="0001-01-01" name="valid_from" type="date"/>
					<element minOccurs="1" maxOccurs="1" default="0001-01-01" name="valid_until" type="date"/>
					<element minOccurs="1" maxOccurs="unbounded" name="admissions_validated" type="tns:admissions_validated"/>
				</sequence>
				<attribute name="external_id" type="string" use="required"/>
				<attribute name="line_no" type="string" use="required"/>
			</complexType>
			<complexType name="ticketsType">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="status" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="order_uid" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="message_text" type="string"/>
					<element minOccurs="1" maxOccurs="unbounded" name="ticket" type="tns:ticketType"/>
				</sequence>
			</complexType>
			<complexType name="ticket_results" mixed="true">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="tickets" type="tns:ticketsType"/>
				</sequence>
			</complexType>
			<complexType name="tickets" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="reserve_tickets" type="tns:reserve_tickets"/>
					<element minOccurs="0" maxOccurs="1" name="ticket_results" type="tns:ticket_results"/>
				</sequence>
			</complexType>
			<element name="tickets" type="tns:tickets"/>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x6060114" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x6060114">
			<complexType name="ticket">
				<sequence/>
				<attribute name="external_id" type="string" use="required"/>
				<attribute name="line_no" type="string" use="required"/>
				<attribute name="qty" type="string" use="required"/>
				<attribute name="admission_schedule_entry" type="string" use="optional"/>
				<attribute name="member_number" type="string" use="optional"/>
				<attribute name="admission_code" type="string" use="optional"/>
				<attribute name="waitinglist_reference_code" type="string" use="optional"/>
				<attribute name="waitinglist_opt-in_address" type="string" use="optional"/>
			</complexType>
			<complexType name="reserve_tickets" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="ticket" type="tns:ticket"/>
				</sequence>
				<attribute name="token" type="string" use="required"/>
			</complexType>
			<complexType name="expiry_time" mixed="true">
				<sequence/>
				<attribute name="utc" type="string" use="required"/>
			</complexType>
			<complexType name="admission_is" mixed="true">
				<sequence/>
				<attribute name="option_value" type="string" use="required"/>
			</complexType>
			<complexType name="SceduleEntry" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="admission_is" type="tns:admission_is"/>
				</sequence>
				<attribute name="ExternalEntryNo" type="string" use="required"/>
				<attribute name="ReservationType" type="string" use="required"/>
				<attribute name="Date" type="string" use="optional"/>
				<attribute name="StartTime" type="string" use="optional"/>
				<attribute name="EndTime" type="string" use="optional"/>
				<attribute name="ValidFrom" type="string" use="optional"/>
				<attribute name="ValidUntil" type="string" use="optional"/>
				<attribute name="CanReschedule" type="string" use="required"/>
				<attribute name="admission_price" type="string" use="required"/>
			</complexType>
			<complexType name="Admission">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="SceduleEntry" type="tns:SceduleEntry"/>
					<element minOccurs="1" maxOccurs="1" name="Description" type="string"/>
				</sequence>
				<attribute name="Code" type="string" use="required"/>
			</complexType>
			<complexType name="admissions" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="Admission" type="tns:Admission"/>
				</sequence>
			</complexType>
			<complexType name="ticketType">
				<sequence>
					<element minOccurs="0" maxOccurs="1" name="admissions" type="tns:admissions"/>
				</sequence>
				<attribute name="line_no" type="string" use="required"/>
				<attribute name="status" type="string" use="required"/>
				<attribute name="message" type="string" use="required"/>
				<attribute name="ticket_price" type="string" use="required"/>
			</complexType>
			<complexType name="details" mixed="true">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="ticket" type="tns:ticketType"/>
				</sequence>
			</complexType>
			<complexType name="ticket_results">
				<sequence>
					<element minOccurs="0" maxOccurs="1" name="status" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="reservation_token" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="expiry_time" type="tns:expiry_time"/>
					<element minOccurs="0" maxOccurs="1" name="message" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="details" type="tns:details"/>
				</sequence>
			</complexType>
			<complexType name="tickets" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="reserve_tickets" type="tns:reserve_tickets"/>
					<element minOccurs="0" maxOccurs="1" name="ticket_results" type="tns:ticket_results"/>
				</sequence>
			</complexType>
			<element name="tickets" type="tns:tickets"/>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x6060109" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x6060109">
			<complexType name="ticket_reference" mixed="true">
				<sequence/>
				<attribute name="type" type="string" use="optional"/>
			</complexType>
			<complexType name="member_reference" mixed="true">
				<sequence/>
				<attribute name="type" type="string" use="optional"/>
			</complexType>
			<complexType name="admission_at" mixed="true">
				<sequence/>
				<attribute name="date" type="string" use="required"/>
				<attribute name="time" type="string" use="required"/>
			</complexType>
			<complexType name="validate_offline">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ticket_reference" type="tns:ticket_reference"/>
					<element minOccurs="0" maxOccurs="1" name="member_reference" type="tns:member_reference"/>
					<element minOccurs="1" maxOccurs="1" name="admission_code" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="admission_at" type="tns:admission_at"/>
					<element minOccurs="1" maxOccurs="1" name="external_reference" type="string"/>
				</sequence>
			</complexType>
			<complexType name="summary" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="import_reference_no" type="string"/>
					<element minOccurs="1" maxOccurs="unbounded" name="valid_count" type="string"/>
					<element minOccurs="1" maxOccurs="unbounded" name="invalid_count" type="string"/>
				</sequence>
			</complexType>
			<complexType name="validate_offline_result" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="summary" type="tns:summary"/>
				</sequence>
			</complexType>
			<complexType name="tickets" mixed="true">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="validate_offline" type="tns:validate_offline"/>
					<element minOccurs="0" maxOccurs="1" name="validate_offline_result" type="tns:validate_offline_result"/>
				</sequence>
			</complexType>
			<element name="tickets" type="tns:tickets"/>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x6060115" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x6060115">
			<complexType name="ticket_tokens">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ticket_token" type="string"/>
				</sequence>
			</complexType>
			<complexType name="new_expiry_time" mixed="true">
				<sequence/>
				<attribute name="utc" type="string" use="required"/>
			</complexType>
			<complexType name="ticketsType">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="status" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="new_expiry_time" type="tns:new_expiry_time"/>
				</sequence>
			</complexType>
			<complexType name="ticket_tokens_result" mixed="true">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="tickets" type="tns:ticketsType"/>
				</sequence>
			</complexType>
			<complexType name="tickets" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ticket_tokens" type="tns:ticket_tokens"/>
					<element minOccurs="0" maxOccurs="1" name="ticket_tokens_result" type="tns:ticket_tokens_result"/>
				</sequence>
			</complexType>
			<element name="tickets" type="tns:tickets"/>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x6060119" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x6060119">
			<complexType name="Request">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="TicketNumber" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="PinCode" type="string"/>
				</sequence>
			</complexType>
			<complexType name="RevokeTicketRequest" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="Request" type="tns:Request"/>
				</sequence>
			</complexType>
			<complexType name="ExpiresAt" mixed="true">
				<sequence/>
				<attribute name="UTC" type="string" use="required"/>
			</complexType>
			<complexType name="Ticket" mixed="true">
				<sequence/>
				<attribute name="TicketItemNumber" type="string" use="required"/>
				<attribute name="RevokeRequestToken" type="string" use="required"/>
				<attribute name="AmountLCY" type="string" use="optional"/>
			</complexType>
			<complexType name="Result">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ResponseCode" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="ResponseMessage" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="ExpiresAt" type="tns:ExpiresAt"/>
					<element minOccurs="1" maxOccurs="1" name="Ticket" type="tns:Ticket"/>
				</sequence>
			</complexType>
			<complexType name="Tickets" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="RevokeTicketRequest" type="tns:RevokeTicketRequest"/>
					<element minOccurs="0" maxOccurs="1" name="Result" type="tns:Result"/>
				</sequence>
			</complexType>
			<element name="Tickets" type="tns:Tickets"/>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x6060124" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x6060124">
			<complexType name="ticket_tokens">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ticket_token" type="string"/>
					<element minOccurs="0" maxOccurs="1" name="send_notification_to" type="string"/>
				</sequence>
			</complexType>
			<complexType name="eticket">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ticketnumber" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="eventdescription" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="locationdescription" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="ticketurl" type="string"/>
				</sequence>
			</complexType>
			<complexType name="result" mixed="true">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="eticket" type="tns:eticket"/>
				</sequence>
			</complexType>
			<complexType name="ticketsType">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="status" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="order_uid" type="string"/>
					<element minOccurs="1" maxOccurs="1" name="message_text" type="string"/>
					<element minOccurs="1" maxOccurs="unbounded" name="result" type="tns:result"/>
				</sequence>
			</complexType>
			<complexType name="ticket_results" mixed="true">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="tickets" type="tns:ticketsType"/>
				</sequence>
			</complexType>
			<complexType name="tickets" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="ticket_tokens" type="tns:ticket_tokens"/>
					<element minOccurs="0" maxOccurs="1" name="ticket_results" type="tns:ticket_results"/>
				</sequence>
			</complexType>
			<element name="tickets" type="tns:tickets"/>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x6060121" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x6060121">
			<complexType name="attribute">
				<sequence/>
				<attribute name="admission_code" type="string" use="optional"/>
				<attribute name="attribute_code" type="string" use="required"/>
				<attribute name="attribute_value" type="string" use="required"/>
			</complexType>
			<complexType name="attributes" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="attribute" type="tns:attribute"/>
				</sequence>
			</complexType>
			<complexType name="setattributes">
				<sequence>
					<element minOccurs="0" maxOccurs="1" name="attributes" type="tns:attributes"/>
				</sequence>
				<attribute name="token" type="string" use="required"/>
			</complexType>
			<complexType name="set_attribute_result" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="unbounded" name="success" type="string"/>
					<element minOccurs="1" maxOccurs="unbounded" name="message" type="string"/>
				</sequence>
			</complexType>
			<complexType name="tickets" mixed="true">
				<sequence>
					<element minOccurs="1" maxOccurs="1" name="setattributes" type="tns:setattributes"/>
					<element minOccurs="0" maxOccurs="1" name="set_attribute_result" type="tns:set_attribute_result"/>
				</sequence>
			</complexType>
			<element name="tickets" type="tns:tickets"/>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/ticket_services" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="CancelTicketReservation">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="cancelation" type="q1:tickets" xmlns:q1="urn:microsoft-dynamics-nav/xmlports/x6060116"/>
						<element minOccurs="1" maxOccurs="1" name="scannerStationId" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="CancelTicketReservation_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="cancelation" type="q2:tickets" xmlns:q2="urn:microsoft-dynamics-nav/xmlports/x6060116"/>
					</sequence>
				</complexType>
			</element>
			<element name="ConfirmRevokeRequest">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="confirmation" type="q3:tickets" xmlns:q3="urn:microsoft-dynamics-nav/xmlports/x6060117"/>
						<element minOccurs="1" maxOccurs="1" name="scannerStationId" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="ConfirmRevokeRequest_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="return_value" type="boolean"/>
						<element minOccurs="1" maxOccurs="1" name="confirmation" type="q4:tickets" xmlns:q4="urn:microsoft-dynamics-nav/xmlports/x6060117"/>
					</sequence>
				</complexType>
			</element>
			<element name="ConfirmTicketChangeRequest">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="ticketConfChangeRequest" type="q5:Tickets" xmlns:q5="urn:microsoft-dynamics-nav/xmlports/x6060108"/>
					</sequence>
				</complexType>
			</element>
			<element name="ConfirmTicketChangeRequest_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="ticketConfChangeRequest" type="q6:Tickets" xmlns:q6="urn:microsoft-dynamics-nav/xmlports/x6060108"/>
					</sequence>
				</complexType>
			</element>
			<element name="ConfirmTicketReservation">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="confirmation" type="q7:tickets" xmlns:q7="urn:microsoft-dynamics-nav/xmlports/x6060117"/>
						<element minOccurs="1" maxOccurs="1" name="scannerStationId" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="ConfirmTicketReservation_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="return_value" type="boolean"/>
						<element minOccurs="1" maxOccurs="1" name="confirmation" type="q8:tickets" xmlns:q8="urn:microsoft-dynamics-nav/xmlports/x6060117"/>
					</sequence>
				</complexType>
			</element>
			<element name="ConsumeComplementaryItem">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="externalTicketNo" type="string"/>
						<element minOccurs="1" maxOccurs="1" name="complementaryItemNo" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="ConsumeComplementaryItem_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="return_value" type="int"/>
						<element minOccurs="1" maxOccurs="1" name="complementaryItemNo" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="GetAdmissionCapacity">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="admissionCapacityCheck" type="q9:admission_capacity" xmlns:q9="urn:microsoft-dynamics-nav/xmlports/x6060113"/>
					</sequence>
				</complexType>
			</element>
			<element name="GetAdmissionCapacity_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="admissionCapacityCheck" type="q10:admission_capacity" xmlns:q10="urn:microsoft-dynamics-nav/xmlports/x6060113"/>
					</sequence>
				</complexType>
			</element>
			<element name="GetAdmissionSchedules">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="admissionSchedules" type="q11:admission_schedule" xmlns:q11="urn:microsoft-dynamics-nav/xmlports/x6060106"/>
					</sequence>
				</complexType>
			</element>
			<element name="GetAdmissionSchedules_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="admissionSchedules" type="q12:admission_schedule" xmlns:q12="urn:microsoft-dynamics-nav/xmlports/x6060106"/>
					</sequence>
				</complexType>
			</element>
			<element name="GetComplementaryMembershipItemNo">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="externalTicketNo" type="string"/>
						<element minOccurs="1" maxOccurs="1" name="complementaryItemNo" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="GetComplementaryMembershipItemNo_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="return_value" type="int"/>
						<element minOccurs="1" maxOccurs="1" name="complementaryItemNo" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="GetTicketChangeRequest">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="ticketChangeRequest" type="q13:Tickets" xmlns:q13="urn:microsoft-dynamics-nav/xmlports/x6060107"/>
					</sequence>
				</complexType>
			</element>
			<element name="GetTicketChangeRequest_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="ticketChangeRequest" type="q14:Tickets" xmlns:q14="urn:microsoft-dynamics-nav/xmlports/x6060107"/>
					</sequence>
				</complexType>
			</element>
			<element name="GetTicketPrintUrl">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="ticketGetTicketPrintURL" type="q15:tickets" xmlns:q15="urn:microsoft-dynamics-nav/xmlports/x6060122"/>
					</sequence>
				</complexType>
			</element>
			<element name="GetTicketPrintUrl_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="ticketGetTicketPrintURL" type="q16:tickets" xmlns:q16="urn:microsoft-dynamics-nav/xmlports/x6060122"/>
					</sequence>
				</complexType>
			</element>
			<element name="ListTicketItems">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="listTicketItemsXmlPort" type="q17:ticket_items" xmlns:q17="urn:microsoft-dynamics-nav/xmlports/x6060112"/>
					</sequence>
				</complexType>
			</element>
			<element name="ListTicketItems_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="listTicketItemsXmlPort" type="q18:ticket_items" xmlns:q18="urn:microsoft-dynamics-nav/xmlports/x6060112"/>
					</sequence>
				</complexType>
			</element>
			<element name="ListTickets">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="ticketDetails" type="q19:ticketdetails" xmlns:q19="urn:microsoft-dynamics-nav/xmlports/x6060120"/>
					</sequence>
				</complexType>
			</element>
			<element name="ListTickets_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="ticketDetails" type="q20:ticketdetails" xmlns:q20="urn:microsoft-dynamics-nav/xmlports/x6060120"/>
					</sequence>
				</complexType>
			</element>
			<element name="MakeTicketReservationConfirmAndValidateArrival">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="reservation" type="q21:tickets" xmlns:q21="urn:microsoft-dynamics-nav/xmlports/x6060118"/>
						<element minOccurs="1" maxOccurs="1" name="scannerStationId" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="MakeTicketReservationConfirmAndValidateArrival_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="reservation" type="q22:tickets" xmlns:q22="urn:microsoft-dynamics-nav/xmlports/x6060118"/>
					</sequence>
				</complexType>
			</element>
			<element name="MakeTicketReservation">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="reservation" type="q23:tickets" xmlns:q23="urn:microsoft-dynamics-nav/xmlports/x6060114"/>
						<element minOccurs="1" maxOccurs="1" name="scannerStationId" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="MakeTicketReservation_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="reservation" type="q24:tickets" xmlns:q24="urn:microsoft-dynamics-nav/xmlports/x6060114"/>
					</sequence>
				</complexType>
			</element>
			<element name="OfflineTicketValidation">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="offlineTicketValidationXmlPort" type="q25:tickets" xmlns:q25="urn:microsoft-dynamics-nav/xmlports/x6060109"/>
					</sequence>
				</complexType>
			</element>
			<element name="OfflineTicketValidation_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="return_value" type="boolean"/>
						<element minOccurs="1" maxOccurs="1" name="offlineTicketValidationXmlPort" type="q26:tickets" xmlns:q26="urn:microsoft-dynamics-nav/xmlports/x6060109"/>
					</sequence>
				</complexType>
			</element>
			<element name="PreConfirmTicketReservation">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="preConfirm" type="q27:tickets" xmlns:q27="urn:microsoft-dynamics-nav/xmlports/x6060115"/>
						<element minOccurs="1" maxOccurs="1" name="scannerStationId" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="PreConfirmTicketReservation_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="preConfirm" type="q28:tickets" xmlns:q28="urn:microsoft-dynamics-nav/xmlports/x6060115"/>
					</sequence>
				</complexType>
			</element>
			<element name="RevokeTicketReservation">
				<complexType>
					<sequence/>
				</complexType>
			</element>
			<element name="RevokeTicketReservation_Result">
				<complexType>
					<sequence/>
				</complexType>
			</element>
			<element name="RevokeTicketReservation_239250333">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="ticketRevoke" type="q29:Tickets" xmlns:q29="urn:microsoft-dynamics-nav/xmlports/x6060119"/>
					</sequence>
				</complexType>
			</element>
			<element name="RevokeTicketReservation_239250333_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="ticketRevoke" type="q30:Tickets" xmlns:q30="urn:microsoft-dynamics-nav/xmlports/x6060119"/>
					</sequence>
				</complexType>
			</element>
			<element name="SendETicket">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="sendETicketXmlPort" type="q31:tickets" xmlns:q31="urn:microsoft-dynamics-nav/xmlports/x6060124"/>
					</sequence>
				</complexType>
			</element>
			<element name="SendETicket_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="sendETicketXmlPort" type="q32:tickets" xmlns:q32="urn:microsoft-dynamics-nav/xmlports/x6060124"/>
					</sequence>
				</complexType>
			</element>
			<element name="SetReservationAttributes">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="attributes" type="q33:tickets" xmlns:q33="urn:microsoft-dynamics-nav/xmlports/x6060121"/>
					</sequence>
				</complexType>
			</element>
			<element name="SetReservationAttributes_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="return_value" type="boolean"/>
						<element minOccurs="1" maxOccurs="1" name="attributes" type="q34:tickets" xmlns:q34="urn:microsoft-dynamics-nav/xmlports/x6060121"/>
					</sequence>
				</complexType>
			</element>
			<element name="ValidateTicketArrival">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="admissionCode" type="string"/>
						<element minOccurs="1" maxOccurs="1" name="externalTicketNo" type="string"/>
						<element minOccurs="1" maxOccurs="1" name="scannerStationId" type="string"/>
						<element minOccurs="1" maxOccurs="1" name="messageText" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="ValidateTicketArrival_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="return_value" type="boolean"/>
						<element minOccurs="1" maxOccurs="1" name="messageText" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="ValidateTicketDeparture">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="admissionCode" type="string"/>
						<element minOccurs="1" maxOccurs="1" name="externalTicketNo" type="string"/>
						<element minOccurs="1" maxOccurs="1" name="scannerStationId" type="string"/>
						<element minOccurs="1" maxOccurs="1" name="messageText" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="ValidateTicketDeparture_Result">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="return_value" type="boolean"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="CancelTicketReservation">
		<part name="parameters" element="tns:CancelTicketReservation"/>
	</message>
	<message name="CancelTicketReservation_Result">
		<part name="parameters" element="tns:CancelTicketReservation_Result"/>
	</message>
	<message name="ConfirmRevokeRequest">
		<part name="parameters" element="tns:ConfirmRevokeRequest"/>
	</message>
	<message name="ConfirmRevokeRequest_Result">
		<part name="parameters" element="tns:ConfirmRevokeRequest_Result"/>
	</message>
	<message name="ConfirmTicketChangeRequest">
		<part name="parameters" element="tns:ConfirmTicketChangeRequest"/>
	</message>
	<message name="ConfirmTicketChangeRequest_Result">
		<part name="parameters" element="tns:ConfirmTicketChangeRequest_Result"/>
	</message>
	<message name="ConfirmTicketReservation">
		<part name="parameters" element="tns:ConfirmTicketReservation"/>
	</message>
	<message name="ConfirmTicketReservation_Result">
		<part name="parameters" element="tns:ConfirmTicketReservation_Result"/>
	</message>
	<message name="ConsumeComplementaryItem">
		<part name="parameters" element="tns:ConsumeComplementaryItem"/>
	</message>
	<message name="ConsumeComplementaryItem_Result">
		<part name="parameters" element="tns:ConsumeComplementaryItem_Result"/>
	</message>
	<message name="GetAdmissionCapacity">
		<part name="parameters" element="tns:GetAdmissionCapacity"/>
	</message>
	<message name="GetAdmissionCapacity_Result">
		<part name="parameters" element="tns:GetAdmissionCapacity_Result"/>
	</message>
	<message name="GetAdmissionSchedules">
		<part name="parameters" element="tns:GetAdmissionSchedules"/>
	</message>
	<message name="GetAdmissionSchedules_Result">
		<part name="parameters" element="tns:GetAdmissionSchedules_Result"/>
	</message>
	<message name="GetComplementaryMembershipItemNo">
		<part name="parameters" element="tns:GetComplementaryMembershipItemNo"/>
	</message>
	<message name="GetComplementaryMembershipItemNo_Result">
		<part name="parameters" element="tns:GetComplementaryMembershipItemNo_Result"/>
	</message>
	<message name="GetTicketChangeRequest">
		<part name="parameters" element="tns:GetTicketChangeRequest"/>
	</message>
	<message name="GetTicketChangeRequest_Result">
		<part name="parameters" element="tns:GetTicketChangeRequest_Result"/>
	</message>
	<message name="GetTicketPrintUrl">
		<part name="parameters" element="tns:GetTicketPrintUrl"/>
	</message>
	<message name="GetTicketPrintUrl_Result">
		<part name="parameters" element="tns:GetTicketPrintUrl_Result"/>
	</message>
	<message name="ListTicketItems">
		<part name="parameters" element="tns:ListTicketItems"/>
	</message>
	<message name="ListTicketItems_Result">
		<part name="parameters" element="tns:ListTicketItems_Result"/>
	</message>
	<message name="ListTickets">
		<part name="parameters" element="tns:ListTickets"/>
	</message>
	<message name="ListTickets_Result">
		<part name="parameters" element="tns:ListTickets_Result"/>
	</message>
	<message name="MakeTicketReservationConfirmAndValidateArrival">
		<part name="parameters" element="tns:MakeTicketReservationConfirmAndValidateArrival"/>
	</message>
	<message name="MakeTicketReservationConfirmAndValidateArrival_Result">
		<part name="parameters" element="tns:MakeTicketReservationConfirmAndValidateArrival_Result"/>
	</message>
	<message name="MakeTicketReservation">
		<part name="parameters" element="tns:MakeTicketReservation"/>
	</message>
	<message name="MakeTicketReservation_Result">
		<part name="parameters" element="tns:MakeTicketReservation_Result"/>
	</message>
	<message name="OfflineTicketValidation">
		<part name="parameters" element="tns:OfflineTicketValidation"/>
	</message>
	<message name="OfflineTicketValidation_Result">
		<part name="parameters" element="tns:OfflineTicketValidation_Result"/>
	</message>
	<message name="PreConfirmTicketReservation">
		<part name="parameters" element="tns:PreConfirmTicketReservation"/>
	</message>
	<message name="PreConfirmTicketReservation_Result">
		<part name="parameters" element="tns:PreConfirmTicketReservation_Result"/>
	</message>
	<message name="RevokeTicketReservation">
		<part name="parameters" element="tns:RevokeTicketReservation"/>
	</message>
	<message name="RevokeTicketReservation_Result">
		<part name="parameters" element="tns:RevokeTicketReservation_Result"/>
	</message>
	<message name="RevokeTicketReservation_239250333">
		<part name="parameters" element="tns:RevokeTicketReservation_239250333"/>
	</message>
	<message name="RevokeTicketReservation_239250333_Result">
		<part name="parameters" element="tns:RevokeTicketReservation_239250333_Result"/>
	</message>
	<message name="SendETicket">
		<part name="parameters" element="tns:SendETicket"/>
	</message>
	<message name="SendETicket_Result">
		<part name="parameters" element="tns:SendETicket_Result"/>
	</message>
	<message name="SetReservationAttributes">
		<part name="parameters" element="tns:SetReservationAttributes"/>
	</message>
	<message name="SetReservationAttributes_Result">
		<part name="parameters" element="tns:SetReservationAttributes_Result"/>
	</message>
	<message name="ValidateTicketArrival">
		<part name="parameters" element="tns:ValidateTicketArrival"/>
	</message>
	<message name="ValidateTicketArrival_Result">
		<part name="parameters" element="tns:ValidateTicketArrival_Result"/>
	</message>
	<message name="ValidateTicketDeparture">
		<part name="parameters" element="tns:ValidateTicketDeparture"/>
	</message>
	<message name="ValidateTicketDeparture_Result">
		<part name="parameters" element="tns:ValidateTicketDeparture_Result"/>
	</message>
	<portType name="ticket_services_Port">
		<operation name="CancelTicketReservation">
			<input name="CancelTicketReservation" message="tns:CancelTicketReservation"/>
			<output name="CancelTicketReservation_Result" message="tns:CancelTicketReservation_Result"/>
		</operation>
		<operation name="ConfirmRevokeRequest">
			<input name="ConfirmRevokeRequest" message="tns:ConfirmRevokeRequest"/>
			<output name="ConfirmRevokeRequest_Result" message="tns:ConfirmRevokeRequest_Result"/>
		</operation>
		<operation name="ConfirmTicketChangeRequest">
			<input name="ConfirmTicketChangeRequest" message="tns:ConfirmTicketChangeRequest"/>
			<output name="ConfirmTicketChangeRequest_Result" message="tns:ConfirmTicketChangeRequest_Result"/>
		</operation>
		<operation name="ConfirmTicketReservation">
			<input name="ConfirmTicketReservation" message="tns:ConfirmTicketReservation"/>
			<output name="ConfirmTicketReservation_Result" message="tns:ConfirmTicketReservation_Result"/>
		</operation>
		<operation name="ConsumeComplementaryItem">
			<input name="ConsumeComplementaryItem" message="tns:ConsumeComplementaryItem"/>
			<output name="ConsumeComplementaryItem_Result" message="tns:ConsumeComplementaryItem_Result"/>
		</operation>
		<operation name="GetAdmissionCapacity">
			<input name="GetAdmissionCapacity" message="tns:GetAdmissionCapacity"/>
			<output name="GetAdmissionCapacity_Result" message="tns:GetAdmissionCapacity_Result"/>
		</operation>
		<operation name="GetAdmissionSchedules">
			<input name="GetAdmissionSchedules" message="tns:GetAdmissionSchedules"/>
			<output name="GetAdmissionSchedules_Result" message="tns:GetAdmissionSchedules_Result"/>
		</operation>
		<operation name="GetComplementaryMembershipItemNo">
			<input name="GetComplementaryMembershipItemNo" message="tns:GetComplementaryMembershipItemNo"/>
			<output name="GetComplementaryMembershipItemNo_Result" message="tns:GetComplementaryMembershipItemNo_Result"/>
		</operation>
		<operation name="GetTicketChangeRequest">
			<input name="GetTicketChangeRequest" message="tns:GetTicketChangeRequest"/>
			<output name="GetTicketChangeRequest_Result" message="tns:GetTicketChangeRequest_Result"/>
		</operation>
		<operation name="GetTicketPrintUrl">
			<input name="GetTicketPrintUrl" message="tns:GetTicketPrintUrl"/>
			<output name="GetTicketPrintUrl_Result" message="tns:GetTicketPrintUrl_Result"/>
		</operation>
		<operation name="ListTicketItems">
			<input name="ListTicketItems" message="tns:ListTicketItems"/>
			<output name="ListTicketItems_Result" message="tns:ListTicketItems_Result"/>
		</operation>
		<operation name="ListTickets">
			<input name="ListTickets" message="tns:ListTickets"/>
			<output name="ListTickets_Result" message="tns:ListTickets_Result"/>
		</operation>
		<operation name="MakeTicketReservationConfirmAndValidateArrival">
			<input name="MakeTicketReservationConfirmAndValidateArrival" message="tns:MakeTicketReservationConfirmAndValidateArrival"/>
			<output name="MakeTicketReservationConfirmAndValidateArrival_Result" message="tns:MakeTicketReservationConfirmAndValidateArrival_Result"/>
		</operation>
		<operation name="MakeTicketReservation">
			<input name="MakeTicketReservation" message="tns:MakeTicketReservation"/>
			<output name="MakeTicketReservation_Result" message="tns:MakeTicketReservation_Result"/>
		</operation>
		<operation name="OfflineTicketValidation">
			<input name="OfflineTicketValidation" message="tns:OfflineTicketValidation"/>
			<output name="OfflineTicketValidation_Result" message="tns:OfflineTicketValidation_Result"/>
		</operation>
		<operation name="PreConfirmTicketReservation">
			<input name="PreConfirmTicketReservation" message="tns:PreConfirmTicketReservation"/>
			<output name="PreConfirmTicketReservation_Result" message="tns:PreConfirmTicketReservation_Result"/>
		</operation>
		<operation name="RevokeTicketReservation">
			<input name="RevokeTicketReservation" message="tns:RevokeTicketReservation"/>
			<output name="RevokeTicketReservation_Result" message="tns:RevokeTicketReservation_Result"/>
		</operation>
		<operation name="RevokeTicketReservation_239250333">
			<input name="RevokeTicketReservation_239250333" message="tns:RevokeTicketReservation_239250333"/>
			<output name="RevokeTicketReservation_239250333_Result" message="tns:RevokeTicketReservation_239250333_Result"/>
		</operation>
		<operation name="SendETicket">
			<input name="SendETicket" message="tns:SendETicket"/>
			<output name="SendETicket_Result" message="tns:SendETicket_Result"/>
		</operation>
		<operation name="SetReservationAttributes">
			<input name="SetReservationAttributes" message="tns:SetReservationAttributes"/>
			<output name="SetReservationAttributes_Result" message="tns:SetReservationAttributes_Result"/>
		</operation>
		<operation name="ValidateTicketArrival">
			<input name="ValidateTicketArrival" message="tns:ValidateTicketArrival"/>
			<output name="ValidateTicketArrival_Result" message="tns:ValidateTicketArrival_Result"/>
		</operation>
		<operation name="ValidateTicketDeparture">
			<input name="ValidateTicketDeparture" message="tns:ValidateTicketDeparture"/>
			<output name="ValidateTicketDeparture_Result" message="tns:ValidateTicketDeparture_Result"/>
		</operation>
	</portType>
	<binding name="ticket_services_Binding" type="tns:ticket_services_Port">
		<binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<operation name="CancelTicketReservation">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:CancelTicketReservation" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="CancelTicketReservation">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="CancelTicketReservation_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="ConfirmRevokeRequest">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:ConfirmRevokeRequest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="ConfirmRevokeRequest">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="ConfirmRevokeRequest_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="ConfirmTicketChangeRequest">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:ConfirmTicketChangeRequest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="ConfirmTicketChangeRequest">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="ConfirmTicketChangeRequest_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="ConfirmTicketReservation">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:ConfirmTicketReservation" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="ConfirmTicketReservation">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="ConfirmTicketReservation_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="ConsumeComplementaryItem">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:ConsumeComplementaryItem" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="ConsumeComplementaryItem">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="ConsumeComplementaryItem_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="GetAdmissionCapacity">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:GetAdmissionCapacity" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="GetAdmissionCapacity">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="GetAdmissionCapacity_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="GetAdmissionSchedules">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:GetAdmissionSchedules" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="GetAdmissionSchedules">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="GetAdmissionSchedules_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="GetComplementaryMembershipItemNo">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:GetComplementaryMembershipItemNo" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="GetComplementaryMembershipItemNo">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="GetComplementaryMembershipItemNo_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="GetTicketChangeRequest">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:GetTicketChangeRequest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="GetTicketChangeRequest">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="GetTicketChangeRequest_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="GetTicketPrintUrl">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:GetTicketPrintUrl" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="GetTicketPrintUrl">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="GetTicketPrintUrl_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="ListTicketItems">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:ListTicketItems" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="ListTicketItems">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="ListTicketItems_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="ListTickets">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:ListTickets" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="ListTickets">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="ListTickets_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="MakeTicketReservationConfirmAndValidateArrival">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:MakeTicketReservationConfirmAndValidateArrival" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="MakeTicketReservationConfirmAndValidateArrival">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="MakeTicketReservationConfirmAndValidateArrival_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="MakeTicketReservation">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:MakeTicketReservation" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="MakeTicketReservation">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="MakeTicketReservation_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="OfflineTicketValidation">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:OfflineTicketValidation" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="OfflineTicketValidation">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="OfflineTicketValidation_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="PreConfirmTicketReservation">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:PreConfirmTicketReservation" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="PreConfirmTicketReservation">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="PreConfirmTicketReservation_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="RevokeTicketReservation">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:RevokeTicketReservation" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="RevokeTicketReservation">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="RevokeTicketReservation_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="RevokeTicketReservation_239250333">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:RevokeTicketReservation_239250333" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="RevokeTicketReservation_239250333">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="RevokeTicketReservation_239250333_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="SendETicket">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:SendETicket" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="SendETicket">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="SendETicket_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="SetReservationAttributes">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:SetReservationAttributes" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="SetReservationAttributes">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="SetReservationAttributes_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="ValidateTicketArrival">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:ValidateTicketArrival" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="ValidateTicketArrival">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="ValidateTicketArrival_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
		<operation name="ValidateTicketDeparture">
			<operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ticket_services:ValidateTicketDeparture" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<input name="ValidateTicketDeparture">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</input>
			<output name="ValidateTicketDeparture_Result">
				<body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</output>
		</operation>
	</binding>
	<service name="ticket_services">
		<port name="ticket_services_Port" binding="tns:ticket_services_Binding">
			<address location="https://np469214.dynamics-retail.net:7047/BC/WS/NP469214/Codeunit/ticket_services" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
		</port>
	</service>
</definitions>
