content/en/docs/retail/fiscalization/france/nf525_schema_old_pre11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GrandPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SystemEntryKey" type="xs:unsignedByte" />
        <xs:element name="ID" type="xs:unsignedByte" />
        <xs:element name="CreatedAt" type="xs:dateTime" />
        <xs:element name="GrandTotal" type="xs:decimal" />
        <xs:element name="PerpetualGrandTotal" type="xs:decimal" />
        <xs:element name="Signature" type="xs:string" />
        <xs:element name="TaxLines">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="TaxLine">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TaxIdentifier" type="xs:string" />
                    <xs:element name="TaxRate" type="xs:unsignedByte" />
                    <xs:element name="TaxBaseAmount" type="xs:decimal" />
                    <xs:element name="TaxAmount" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Period">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SystemEntryKey" type="xs:unsignedByte" />
              <xs:element name="ID" type="xs:unsignedByte" />
              <xs:element name="CreatedAt" type="xs:dateTime" />
              <xs:element name="GrandTotal" type="xs:decimal" />
              <xs:element name="PerpetualGrandTotal" type="xs:decimal" />
              <xs:element name="Signature" type="xs:string" />
              <xs:element name="TaxLines">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="TaxLine">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TaxIdentifier" type="xs:string" />
                          <xs:element name="TaxRate" type="xs:unsignedByte" />
                          <xs:element name="TaxBaseAmount" type="xs:decimal" />
                          <xs:element name="TaxAmount" type="xs:decimal" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Ticket">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SystemEntryKey" type="xs:unsignedShort" />
                    <xs:element name="DocumentNumber" type="xs:string" />
                    <xs:element name="NoOfPrints" type="xs:unsignedByte" />
                    <xs:element name="SalespersonCode" type="xs:unsignedByte" />
                    <xs:element name="POSCode" type="xs:unsignedByte" />
                    <xs:element name="Date" type="xs:date" />
                    <xs:element name="Time" type="xs:time" />
                    <xs:element name="OperationType" type="xs:unsignedByte" />
                    <xs:element name="DocumentType" type="xs:string" />
                    <xs:element name="NoOfSaleLines" type="xs:unsignedByte" />
                    <xs:element name="Signature" type="xs:string" />
                    <xs:element name="RelatedInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SoftwareVersion" type="xs:decimal" />
                          <xs:element name="StoreName" type="xs:string" />
                          <xs:element name="StoreName2" />
                          <xs:element name="StoreAddress" type="xs:string" />
                          <xs:element name="StoreAddress2" />
                          <xs:element name="StorePostCode" type="xs:unsignedShort" />
                          <xs:element name="StoreCity" type="xs:string" />
                          <xs:element name="Siret" type="xs:string" />
                          <xs:element name="APE" type="xs:string" />
                          <xs:element name="IntraCommVATIdentifier" type="xs:string" />
                          <xs:element name="SalespersonName" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SalesLines">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="SalesLine">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="LineNo" type="xs:unsignedShort" />
                                <xs:element name="ProductCode" type="xs:unsignedInt" />
                                <xs:element name="ProductLabel" type="xs:string" />
                                <xs:element name="Quantity" type="xs:decimal" />
                                <xs:element name="TaxIdentifier" type="xs:string" />
                                <xs:element name="TaxRate" type="xs:decimal" />
                                <xs:element name="UnitPriceInclTax" type="xs:decimal" />
                                <xs:element name="DiscountCode" />
                                <xs:element name="DiscountPercentage" type="xs:decimal" />
                                <xs:element name="DiscountAmount" type="xs:decimal" />
                                <xs:element name="TotalExclTax" type="xs:decimal" />
                                <xs:element name="TotalInclTax" type="xs:decimal" />
                                <xs:element name="BaseQuantity" type="xs:decimal" />
                                <xs:element name="UnitOfMeasureCode" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TaxLines">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="TaxLine">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TaxIdentifier" type="xs:string" />
                                <xs:element name="TaxBaseAmount" type="xs:decimal" />
                                <xs:element name="TaxRate" type="xs:unsignedByte" />
                                <xs:element name="TaxAmount" type="xs:decimal" />
                                <xs:element name="AmountInclTax" type="xs:decimal" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TicketTotals">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TotalInclTax" type="xs:decimal" />
                          <xs:element name="TotalExclTax" type="xs:decimal" />
                          <xs:element name="PerpetualGrandTotal" type="xs:decimal" />
                          <xs:element name="GrandTotalSignature" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PaymentLines">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="PaymentLine">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Code" type="xs:string" />
                                <xs:element name="Type" type="xs:string" />
                                <xs:element name="Description" type="xs:string" />
                                <xs:element name="Amount" type="xs:decimal" />
                                <xs:element name="Currency" type="xs:string" />
                                <xs:element name="CurrencyAmount" type="xs:decimal" />
                                <xs:element name="ExchangeRate" type="xs:unsignedByte" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PrintDuplicates">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="PrintDuplicate">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="xs:string" />
                                <xs:element name="ReprintNumber" type="xs:unsignedByte" />
                                <xs:element name="SalespersonCode" type="xs:unsignedByte" />
                                <xs:element name="UserCode" type="xs:string" />
                                <xs:element name="Timestamp" type="xs:dateTime" />
                                <xs:element name="Signature" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AssociatedDocuments">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element minOccurs="0" name="AppliedCreditVoucher">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="VoucherNo" type="xs:unsignedLong" />
                                <xs:element name="Amount" type="xs:decimal" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="IssuedCreditVoucher">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="VoucherNo" type="xs:unsignedLong" />
                                <xs:element name="Amount" type="xs:decimal" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="AppliedGiftVoucher">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="VoucherNo" type="xs:unsignedLong" />
                                <xs:element name="Amount" type="xs:decimal" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="IssuedGiftVoucher">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="VoucherNo" type="xs:unsignedLong" />
                                <xs:element name="Amount" type="xs:decimal" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="JET">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="JETEntry">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="xs:string" />
                    <xs:element name="Code" type="xs:unsignedByte" />
                    <xs:element name="Description" type="xs:string" />
                    <xs:element name="Salesperson" type="xs:unsignedByte" />
                    <xs:element name="Timestamp" type="xs:dateTime" />
                    <xs:element name="AdditionalInfo" />
                    <xs:element name="Signature" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>